.chat-list {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  background-color: var(--chatlist-bg-color);
}
.chat-list::-webkit-scrollbar {
  width: 0px;
}
.connect-field {
  top: 0;
  position: sticky;
  background-color: var(--chatlist-bg-color);
}
