.chat-elem{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: gray 1px solid;
    padding: 2px 4px 2px 4px;
    box-shadow: 0px 3px lightgrey;
}
.chat-elem:hover{
    box-shadow: 0px 3px inset lightgrey;
}
.chat-elem__img{
    width:50px;
    height:50px;
    border:black 1px solid;
    border-radius: 50px;
    background-size: contain;
}