.chat-input {
  position: fixed;
  left: 50vw;
  transform: translate(-50%, 0);
  bottom: 0;
  height: 5vh;
  margin: 5px;
  width: 80vw;
  display: flex;
}
.chang-input__send {
  width: 8vw;
}
.test {
  width: 70vw;
  max-width: 70vw;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 5px;
  padding: 4px;
  white-space: nowrap;
  overflow-x: hidden;
  scrollbar-width: none;
}
.test::-webkit-scrollbar {
  display: none;
}
[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: rgb(139, 139, 139);
  background-color: transparent;
  font-family: "SF Pro Display";
  font-weight: lighter;
}
