.chat-input {
  position: fixed;
  left: 50vw;
  transform: translate(-50%, 0);
  bottom: 0;
  height: 5vh;
  margin: 5px;
}
.chat-input__input{
  width:70vw;
}
.chang-input__send{
  
}
.test{
  border:1px solid black;
}