html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
button {
  background-color: var(--main-color);
  border: 2px solid var(--second-color);
  border-radius: 5px;
}

button:hover {
  box-shadow: inset 0 0 5px var(--shadow-color);
}
button:active {
  box-shadow: inset 0 0 10px var(--shadow-color);
}
* {
  --main-color: #e8ab56;
  --second-color: #F57F4E;
  --gray-first: #f0f0f5;
  --border-color: #F57F4E,#FFC852;
  --shadow-color: rgba(0, 0, 0, 0.25);
}
