.message-section {
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 100vh;
	max-width: 80vw;
}
.message-section__messages {
	overflow: auto;
	overflow-x: hidden;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
}
.message-section::-webkit-scrollbar {
	width: 0px;
}
