.message-section{
    background-color: var(--bg-color);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
    max-width: 80vw;
}
.message-section__messages{
    overflow:auto;
    overflow-x: hidden;
    max-width: 100%;
}
.message-section::-webkit-scrollbar{
    width: 0px;
}
.message__text{
    white-space: pre-line;
    word-wrap: break-word;
}
.message{
    background-color: var(--message-color-1);
}
.message.self{
    background-color: var(--message-color-2);
}