.carousel {
  height: 52px;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: rgba(34, 60, 80, 0.6) solid 1px;
  /* box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6); */
}
.carousel__item:hover {
  border: 2px solid #bbbbbb;
}
.carousel__item:active {
  background-color: #d2d2d4;
}
