body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background-color: var(--button-color);
}

*{
  --textarea-color:#FFE5D9;
  --button-color:#42cafd;
  --message-text-color:#172a3a;
  --chat-elem-color:#fee9e1;
  --message-color-1:#ACFCD9;
  --message-color-2:#EDAFB8;
}