body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: var(--button-color);
}

* {
  --textarea-color: #faf0d7;
  --button-color: #e7b88f;
  --message-text-color: #172a3a;
  --chat-elem-color: #e6cca9;
  --message-color-1: #8cc0de;
  --message-color-2: #acfcd9;
}
